/*404 - Not found*/
body.error404{
	background-color: #354184;
}
.bg-purple{
	display: none;
}
.not-found{
	overflow: hidden;
	background-color: #354184;
	height: 100%;
	width: 100%;
	padding: 50px 0;
	max-width: 1044px;
	margin: 0 auto;
}
.not-found .bloque-izq,
.not-found .bloque-der{}
.not-found .bloque-izq{}
.not-found .bloque-izq img.cuadro-superior,
.not-found .bloque-izq img.cuadro-inferior
{
	position: absolute;
}
.not-found .bloque-izq img.cuadro-superior{
	right: 0;
	bottom: 0;
	width: 63px;
}
.not-found .bloque-izq img.cuadro-inferior
{
	left: 0;
	top: 0;
	width: 117px;
}
.not-found .bloque-izq .lo-sentimos img.error-404{
	width: 187px;
	padding-bottom: 40px;
}
.not-found .bloque-izq .lo-sentimos img.sentimos{
	width: 260px;
}
.not-found .bloque-izq .lo-sentimos{
	clear: both;
	float: right;
	width: 300px;
	font-family: 'ubunturegular';
	text-align: right;
	padding: 70px 0;
}
.not-found .bloque-izq .lo-sentimos h3{
	color: #CAD2FF;
	font-size: 20px;
	line-height: 25px;
}
.not-found .bloque-izq .lo-sentimos a{
	text-decoration: none;
	font-family: 'ubunturegular';
	color: #fff;
	text-align: left;
	font-size: 20px;
	background: url(../images/404/pagina-principla.png);
	background-repeat: no-repeat;
	background-size: 40px;
	padding-top: 10px;
	height: 42px;
	float: right;
	padding-right: 50px;
	background-position: right 0px;
}
.not-found .bloque-izq .lo-sentimos a:hover{
	background-position: right -44px;
}
.not-found .bloque-der{
	text-align: center;
}
.not-found .bloque-der a.veracruz-digital{
	text-decoration: none;
}
.not-found .bloque-der a.veracruz-digital img{
	padding-top: 33px;
	width: 297px; 
}
.not-found .bloque-der a.veracruz-digital:hover{
	text-decoration: none;
}
/*Responsive*/
@media screen and (max-width: 1024px){ /* <= device between 767px and 1024px*/
	.not-found{
		padding: 25px 0;
	}
	.not-found .bloque-izq .lo-sentimos{
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.not-found .bloque-der a.veracruz-digital img{
		padding-top: 24px;
	}
}
@media screen and (max-width: 767px){}
@media screen and (max-width: 480px){ /* <= device less 480px*/
	.not-found .bloque-izq .lo-sentimos{
		width: auto;
	}
}
@media screen and (max-width: 320px){ /* <= device less 320px*/
	.not-found .bloque-izq .lo-sentimos img.error-404{
		width: 160px;
	}
	.not-found .bloque-izq .lo-sentimos img.sentimos{
		width: 230px;
	}
	.not-found .bloque-izq .lo-sentimos h3,
	.not-found .bloque-izq .lo-sentimos a{
		font-size: 19px;
	}
}