.back-blue-color{
		background-color: #354184;
		height: 92px;
	}
	.logo_veracruz_footer{
		  margin-top: 11px;
  margin-left: 70px;
  float: left;
  margin-right: 33px;
  width: 215px;
	}
	.wrap_foter{  
		float: right;
  margin-right: 24%;
	}
	.back-softblue{
		background-color: #4553A2;
		height: 92px;
	}
	.wrap_footer{
		border-top: 4px solid #FFF400;
		color: #FFF;

	}
	.reset-padding-boostrap{
		padding-left: 0px;
		padding-right: 0px;
	}
	.wrapper-footer{
		width: 100%;
		overflow: hidden;
	}
	.resaltado_url{
		  color: #FFF400;
  font-family: "ubuntubold";
  font-size: 27px;
	}
	.url-web-ver{
		  font-family: lato-hairline;
		  letter-spacing: 2px;
		  margin-bottom: 2px;
	}
	.copyright_font_footer{
		  font-size: 13px;
  font-family: "ubuntulight";
  opacity: .8;
  margin-top: 0px;
	}
	.texturaFooter{
		  float: right;
  		width: 85px;
	}
	.wrap_footer_main{
		width: 100%;
	}
	.wrap_textura{
		float: right;
	}


/*******single*******/
.img_destacada_single{
	width: 100%;
}
.redes_sociales_single{
	 list-style: none;
  margin-left: 0px;
}
.redes_sociales_single li{
	  /*border-bottom: 1px solid rgba(69,83,162,.2);*/
  clear: both;
}
.redes_sociales_single li:first-child{
	border-bottom: none;
}
.tweet_single{
	  background-image: url(../images/twitter.png);
  width: 42px;
  height: 52px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
    margin-top: 6px;
}
.tweet_single:hover{
	background-position: 0px -47px;
}
.face_single{
	background-image: url(../images/facebook.png);
 	width: 42px;
  height: 52px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
    margin-top: 6px;
}
.face_single:hover{
	background-position: 0px -47px;
}
.pinte_single{
	background-image: url(../images/pinterest.png);
 	width: 42px;
  height: 52px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
    margin-top: 6px;
}
.pinte_single:hover{
	background-position: 0px -47px;
}
.plus_single{
	  background-image: url(../images/googleplus.png);
	width: 42px;
  height: 52px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
    margin-top: 6px;
}
.plus_single:hover{
	background-position: 0px -47px;
}
.titulo_red{
	  font-size: 15px;
  float: left;
  margin-left: 10px;
  margin-top: 22px;
  color: #9e9e9e;
  font-family: "ubuntulight";
}
.content_text{
	margin-top: 40px;
}
.ajuste_margenes{
	  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.wrap_content_single{
	text-align: justify;
  line-height: 1.7;
  font-family: "ubuntulight";
  color: #797979;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 0px;
}
.reset_paddings_single{
	padding-right: 0px;
	padding-left: 0px;
}
.titulo_single{
	color: #555;
  margin-top: 40px;
  margin-bottom: 20px;
}


@media (min-width: 901px) and (max-width: 1150px) { 
	.wrap_foter {
	  margin-right: 118px;
	}
	
}


@media (min-width: 768px) and (max-width: 900px) { 
	.texturaFooter{
		display: none;
	}
	.wrap_logo{
		text-align: center;
	}
	.logo_veracruz_footer{
		float: initial;
	}
}

/*Style devices between  600px - 767px css*/
@media (min-width: 600px) and (max-width: 767px) { /* <= device between 600px and 767px*/
	.wrap_logo{
		margin: 0 auto !important;
  		text-align: center;
	}
	.logo_veracruz_footer{
		float: initial;
  		text-align: center;
	}
	.texturaFooter{
		display: none;
	}
	.wrap_foter{
		  float: initial;
	  text-align: center;
	  margin-right: 0px;
	  padding-top: 5px;
	}
	.back-blue-color{
		text-align: center;
	}

	/***single***/
	.wrap_content_single{
		padding-left:0px;
		line-height: 1.3;
		padding-right: 0px;
	}
	.titulo_single{
		  font-size: 22px;
	}
	.img_destacada_single {
	  margin-top: 20px;
	}
	.sidebar-single a.mas-contenido{
		margin-right: 0px !important;
	}
}
/*Less device 600 (iphone, samsung galaxy mini, etc)*/
@media screen and (max-width: 599px){ /* <= device less 599px*/
	.hidden-less-600{
		display:none !important;
	}

	.wrap_logo{
		margin: 0 auto !important;
  		text-align: center;
	}
	.logo_veracruz_footer{
		float: initial;
  		text-align: center;
	}
	.texturaFooter{
		display: none;
	}
	.wrap_foter{
		  float: initial;
	  text-align: center;
	  margin-right: 0px;
	  padding-top: 5px;
	}
	.back-blue-color{
		text-align: center;
	}

	/***single***/
	.wrap_content_single{
		padding-left:0px;
		line-height: 1.3;
		padding-right: 0px;
	}
	.titulo_single{
		  font-size: 22px;
	}
	.img_destacada_single {
	  margin-top: 20px;
	}
	.ajuste_sidebar_single{
	  margin-top: 20px;
	  border-top: 3px solid #E4E6F1;
	  padding-top: 20px;
	}
	.margin-bottom-single{
		  border-bottom: 3px solid #E4E6F1;
  		margin-bottom: 20px;
	}
	.sidebar-single a.mas-contenido{
		margin-right: 0px !important;
	}
}
/*Iphone(landscape) and device with less width*/
@media screen and (max-width: 480px){ /* <= device less 480px*/
	.wrap_logo{
		margin: 0 auto !important;
  		text-align: center;
	}
	.logo_veracruz_footer{
		float: initial;
  		text-align: center;
	}
	.texturaFooter{
		display: none;
	}
	.wrap_foter{
		  float: initial;
	  text-align: center;
	  margin-right: 0px;
	  padding-top: 5px;
	}
	.back-blue-color{
		text-align: center;
	}
	.url-web-ver{
		  font-size: 20px;
	}
	.resaltado_url {
  	font-size: 22px;
	}
	.logo_veracruz_footer{
		  margin-left: 22px;
	}
	/***single***/
	.wrap_content_single{
		padding-left:0px;
		line-height: 1.3;
		padding-right: 0px;
	}
	.titulo_single{
		  font-size: 22px;
	}
	.img_destacada_single {
	  margin-top: 20px;
	}
	.ajuste_sidebar_single{
	  margin-top: 20px;
	  border-top: 3px solid #E4E6F1;
	  padding-top: 20px;
	}
	.margin-bottom-single{
		  border-bottom: 3px solid #E4E6F1;
  		margin-bottom: 20px;
	}
	.sidebar-single a.mas-contenido{
		margin-right: 0px !important;
	}
}
/*Iphone and device with less width*/
@media screen and (max-width: 320px){ /* <= device less 320px*/
	.wrap_logo{
		margin: 0 auto !important;
  		text-align: center;
	}
	.logo_veracruz_footer{
		float: initial;
  		text-align: center;
	}
	.texturaFooter{
		display: none;
	}
	.wrap_foter{
		  float: initial;
	  text-align: center;
	  margin-right: 0px;
	  padding-top: 5px;
	}
	.back-blue-color{
		text-align: center;
	}
	.url-web-ver{
		  font-size: 15px;
	}
	.resaltado_url {
  	font-size: 17px;
	}
	.logo_veracruz_footer{
		  margin-left: 18px;
	}

	/***single***/
	.wrap_content_single{
		padding-left:0px !;
		line-height: 1.3;
		padding-right: 0px;
	}
	.titulo_single{
		  font-size: 22px;
	}
	.img_destacada_single {
	  margin-top: 20px;
	}
	.ajuste_sidebar_single{
	  margin-top: 20px;
	  border-top: 3px solid #E4E6F1;
	  padding-top: 20px;
	}
	.margin-bottom-single{
		  border-bottom: 3px solid #E4E6F1;
  		margin-bottom: 20px;
	}
	.sidebar-single a.mas-contenido{
		margin-right: 0px !important;
	}
}

