.back-blue-color{
		background-color: #354184;
		height: 107px;
	}
	.logo_veracruz_footer{
		margin-top: 14px;
	  margin-left: 10px;
	  float: right;
	  margin-right: 14px;
	}
	.wrap_foter{
		float: right;
	}
	.back-softblue{
		background-color: #4553A2;
		height: 107px;
	}
	.wrap_footer{
		border-top: 8px solid #FFF400;
		color: #FFF;
	}
	.reset-padding-boostrap{
		padding-left: 0px;
		padding-right: 0px;
	}
	.wrapper-footer{
		width: 100%;
		overflow: hidden;
	}
	.resaltado_url{
		color: #FFF400;
	}
	.url-web-ver{
		  font-family: "ubunturegular";
	}
	.copyright_font_footer{
		font-size: 13px;
		font-family: "ubuntulight";
	}