/*Sidebar*/
.sidebar-single{
	overflow: hidden;
	height: 100%;
	padding-bottom: 15px;
}
.sidebar-single img.pasa-la-voz{
	width: 178px;
	top: 0;
	padding-bottom: 15px;
	margin-left: 5px;
}
.sidebar-single a.mas-contenido{
	text-decoration: none;
	font-family: 'ubunturegular';
	color: #515670;
	text-align: left;
	font-size: 19px;
	background: url(../images/404/pagina-principla.png);
	background-repeat: no-repeat;
	background-size: 40px;
	padding-top: 8px;
	height: 42px;
	float: right;
	padding-right: 45px;
	background-position: right 0px;
	margin-right: 60px;
}
.sidebar-single a.mas-contenido:hover{
	background-position: right -44px;
}
/*Responsive*/
@media screen and (max-width: 1042px){
	.grid {
		width: 100% !important;
	}
	.grid li{
		width: 220px;
	}
	.sidebar-single a.mas-contenido{
		margin-right: 0px;
	}
	.sidebar-single img.pasa-la-voz{
		padding-bottom: 10px;
		width: 170px;
	}
	.sidebar-single img.pasa-la-voz{
		margin-left: 0px;
	}
}
@media screen and (max-width: 767px){
	.grid {
  		width: 75% !important;
	}
	.container-text p{
		font-size: 13px;
	}
	.sidebar-single a.mas-contenido{
		font-size: 20px;
	}
	.sidebar-single img.pasa-la-voz {
		padding-bottom: 10px;
  		width: 190px;
  		margin: 0 auto;
	}
}
@media screen and (max-width: 736px){
	.sidebar-single{
		text-align: center;
	}
}
@media screen and (max-width: 650px){
	.grid {
  		width: 100% !important;
	}	
}
@media screen and (max-width: 320px){ /* <= device less 320px*/
	.sidebar-single img.pasa-la-voz{
		padding-bottom: 10px;
  		width: 160px;
  		margin: 0 auto;
	}
}